@import './common';

.content {
    background-image: url(https://ireland.apollo.olxcdn.com/v1/files/r1bs7xtaf7d41-UA/image);
    background-size: cover;
    width: 650px;
    height: 400px;
    font-size: 62px;
    font-weight: bold;
    color: red;
}

body {
    background-image: url("/src/images/1-y-X7-Vd1-G1wi9-F0vth-LEh-AA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.clock {
    width: 550px;
    height: 550px;
    background-image: url("/src/images/hiclipart-com-31.png");
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border-radius: 50%;
    position: relative;
    left: 500px;
}

.clock-arrow {
    position: absolute;
    background-color: rgb(209, 209, 203);
    box-shadow: 5 5 5px 1px rgba(2, 2, 2, 0.596);
    transform-origin: bottom;
    transform: translateX(-50%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.clock-center {
    position: absolute;
    background-image: url("/src/images/centerOfWatch.png");
    box-shadow: 0 0 2px 1px rgba(2, 2, 2, 0.596);
    top: 270px;
    left: 270px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.clock-seconds__arrow {
    background-color: rgb(209, 209, 203);
    box-shadow: 5 5 5px 1px rgba(2, 2, 2, 0.596);
    bottom: 50%;
    left: 50%;
    width: 5px;
    height: 40%;
}

.clock-minutes__arrow {
    bottom: 50%;
    left: 50%;
    width: 7px;
    height: 33%;
}

.clock-hours__arrow {
    bottom: 50%;
    left: 50%;
    width: 12px;
    height: 24%;
}

.date {
    width: 100px;
    height: 100px;
    // color: rgb(216, 216, 221);
    font-size: 42px;
}

.calendar {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    // color: rgb(224, 224, 218);
}

.date-style {
    display: flex;
    font-size: 40px;
    font-weight: 400;
    color: bisque;
    text-shadow: 3px 3px 2px #1f1f1fcd;
}

.digital-clock {
    color: rgb(224, 224, 218);
    text-shadow: 5px 5px 5px rgba(2, 2, 2, 0.596);
    text-align: center;
    font-size: 60px;
}
// .date-day{
//     margin: 10px;
// }